/* You can add global styles to this file, and also import other style files */
@use 'scss/typography';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

nlk-root {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.structure {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &__header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.feature__content {
  padding: 24px 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.feature__title {
  @include typography.headline-2();
}
